/* 全体の背景色を設定 */
body {
  background-color: #f0f0f0;
}

/* タイトルのスタイルを設定 */
h1 {
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 36px;
  text-align: center;
}

/* 入力欄とボタンのスタイルを設定 */
input, button {
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

/* 入力欄の色を設定 */
input {
  background-color: #fff;
  width: 200px;
}

/* ボタンの色とホバー時のエフェクトを設定 */
button {
  background-color: #0099ff;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}

/* 結果表示のスタイルを設定 */
p {
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
/* 戻るボタンのスタイル */
#back-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}